.react-tabs__tab-list {
  margin-top: 10px;
  border: none;
  text-align: center;
  background-color: #f9f9f9;
  display: inline;
  justify-content:space-between;

}
.react-tabs__tab {
  font-size: 10px;
  padding: 20px 20px;
  margin-right: 5px;
  color: #615f5f;
}

.activeTab {
  border-bottom: solid 2px blue !important;
  font-weight: 600;
  color: #000;
}
.activeTab:focus::after {
  background: none;
}

.toggler {
  display: none;
  cursor: pointer;
}


@media only screen and (max-width: 320px) {
    .react-tabs__tab-list {
      display: flex;
      flex-direction: column;
    }
  }
@media only screen and (max-width: 768px) {
  .react-tabs__tab-list {
    display: flex;
    flex-direction: column;
  }
  .hide {
    display: none;
  }
  .toggler {
    display: block;
    background-color: transparent;
    border: none;
    padding: 10px;
    margin-left: auto;
  }
}
@media only screen and (max-width: 1024px) {
  .react-tabs__tab {
    font-size: 10px;
    padding: 20px 10px;
    margin-right: 5px;
    color: #615f5f;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1440px) {
  .react-tabs__tab {
    font-size: 10px;
    padding: 20px 30px;
  }
}
@media only screen and (min-width: 1920px) {
  .react-tabs__tab {
    font-size: 13px;
    padding: 20px 40px;
  }
}
